body {
    padding: 0;
    margin: 0;
    
}


.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}
header {
    min-height: 600px;
    max-height: 780px;
    display: flex;
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 228px;
    height: 40px;
    margin-top: 30px;
    margin-left: 64px;

}


.logo_place_header {
    position: absolute;
    background: url("./pictures/logo.svg") no-repeat;
    background-size: cover;


    

}



.header__title {
    align-self: center;
    margin-left: 64px;
    font-size: 106px;
    width: 730px;
    line-height: 96px;
    font-weight: 600;
    z-index: 1;
}


.header__subtitle {
    position: absolute;
    font-size: 18px;
    width: 388px;
    margin: 0;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-weight: normal;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.square__pic {
    position: absolute;
    width: 668px;
    height: 568px;
    background-color: #2f80ed;
    margin: 0;
    right: 0;
    top: 30px;
}


.header__link {
    text-decoration: none;
}


.pil {
    color: blue;
}



.description {
   
   
   padding-top: 100px;
   
   
    
}

.two-columns {
    display: flex;
    min-width: 784px;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.two-columns__brief {
    max-width: 175px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    color: blue;
    margin: 0;
   
    
}


.two-columns__main-text {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    width: 80%;
   
    
}


.two-columns__span-accent {
    font-weight: bold;
}


.two-columns__paragraph {
    margin: 0 0 30px ;
}

.two-columns__paragraph_last-of-type {
    margin-bottom: 0;
}


.body {
    min-width: 1100px;
    max-width: 1600px;
}



.digits {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section__title {
    text-align: center;
    margin: 0;
    width: 60%;
    margin-top: 100px;
    font-size: 60px;
    line-height: 1.15;
    font-weight: 600;
}


.section__subtitle {
    text-align: center;
    margin: 0;
    width: 60%;
    margin-top: 20px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;

}


.table {
    margin: 0;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
    list-style: none;
}


.table__cell {
    width: 250px;
    margin-top: 60px;
}



.table__head {
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
}


.table__text {
    margin: 0;
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}


.feynman {
    display: flex ;
    height: 890px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    background: url("./pictures/feinman.png") no-repeat bottom left;
    background-size: 867px 637px;
    margin-top: 100px;
    background-color: #f2f2f2;
    
}


.section__title_feynman-title {
    width: 648px;
    margin: 0;
    padding: 0;
    font-size: 120px;
    line-height: 1.15;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
}


.section__subtitle_feynman-subtitle {
   margin: 70px 0 0 0;
   line-height: 51px;
   font-size: 36px;
   font-weight: normal;
}



.feynman__link {
    margin: 0;
    margin-right: 40px;
    align-self: flex-end;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    
}


.kaufman {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
    position: relative;
    color: white;
    background-color: #1f1f1f;
    overflow: hidden;;

}


.section__title_theme_dark {
    margin: 0;
    
}


.table__cell_theme_dark {
    margin-top: 80px;
    width: 200px;
    list-style: none;
    z-index: 1;
}


.kaufman__triangle {
    display: flex;
    background: url("../../dev/learnsite/pictures/kaufman-triangle.svg") no-repeat;
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    
}


.footer {
    display: flex;
    min-height: 350px;
    justify-content: center;
    background-color: #1f1f1f;
}


.footer__columns {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 40px;
    width: 90%;
}


.footer__columns_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}


.logo_place_footer {
    margin: 0;
    margin-top: 0;
    margin-left: 0;
    background: url("./pictures/logo_white.svg") no-repeat;
    background-size: cover;
}


.author {
    margin: 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
}


.footer__columns_content_info {
    display: flex;
    flex-direction: column;

}


.footer__column-heading{
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;

}


.footer__column-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 16px;
    

}


.footer__column-links p {
    margin: 0;
}


.footer__column-links_link {
    margin: 0;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    margin-left: 0;
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;


}


.column-links_text {
    margin-left: 10px;
}

