.footer__column-link {
    
    margin: 0;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    margin-left: 0;
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 16px;
    transition: .3s linear;
}
.footer__column-link:hover {
opacity: .5;
cursor: pointer;
}

.footer__column-link:last-of-type {
    margin-bottom: 0;
}